<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.safety.net.sample">

    <application
        android:allowBackup="true"
        android:label="@string/appName"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <!-- Main Activity -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings" />

    </application>

</manifest>
